.hbox-style{
    background-color: firebrick;
    border: 2px ;
    font-size: larger;
    padding-left: 10em;
   text-align: center;
   border-top-left-radius: 25px;
   border-color: aquamarine;
   padding: 3em, 4em, 2em, 1em;
}